/* donation.css */
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

body {
  background-color: rgba(202, 202, 202, 0.43);
}
@media(max-width:600px){
.donation {
  display: flex;
  flex-direction: column;
}
.logout{
  width: 4rem;
  height: 3rem;
  background-color: blue;
}
.donation .donation_items .company_logo {
  width: 100%;
  height: 22vh;
  background-color: white;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.donation .donation_items .company_logo h1 {
  color: rgba(62, 173, 34, 1);
  font-size: 2.25rem;
  font-family: 'Irish Grover', sans-serif;
}

.donation .donation_items .company_logo h2 {
  color: black;
  font-size: 1rem;
  font-family: Poppins, sans-serif;
  text-align: center;
  font-weight: bold;
}

.company_plans .company_plans_items {
  display: flex;
  gap: 3rem;
}

.company_plans .company_plans_items .plans_items1 .plans_items_content {
  display: flex;
}

.company_plans_items {
  position: relative;
  top: 5vh;
  right: 6vw;
}

.company_plans_items .plans_items1 h3 {
  font-size: 0.938rem;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  color: rgba(19, 169, 16, 1);
}

.divider_plans {
  width: 85%;
  border: 2px solid rgba(19, 169, 16, 1);
}

.company_plans_items .plans_items2 h3 {
  font-size: 0.938rem;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  color: rgba(161, 161, 161, 1);
}

.company_plans .company_plans_items .plans_items2 .plans_items_content {
  display: flex;
}

.plans_price {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap: 2rem;
  margin-top: 25vh;
}

.plans_price_row1 {
  display: flex;
  gap: 1.5rem;
}

.plans_price_row1 .plan_box {
  width: 5.125rem;
  height: 2.563rem;
  border-radius: 0.625rem;
  border: 1px solid white;
  background-color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: rgba(151, 151, 151, 1);
  font-weight: bold;
}

.plans_price_row1 .plan_box.selected {
  background-color: rgba(19, 169, 16, 1); /* Change this to black */
  color: black;
}

.result_price {
  width: 17.063rem;
  height: 3.063rem;
  border: 1px solid white;
  background-color: white;
  border-radius: 0.625rem;
  display: flex;
  align-items: center;
}
.result_price h4{
    margin-left: 1rem;
    font-size: 1.5rem;
    color: rgba(151, 151, 151, 1);
    font-weight: bold;
}
.result_price p{
    margin-left: 1rem;
    font-size: 1.25rem;
    color: black;
    font-weight: bold;
}
.result_price h5{
    margin-left: 52vw;
    position: fixed;
    font-size: 1.25rem;
    color: rgba(151, 151, 151, 1);
    font-weight: bold;
}
h6{
    font-size: 0.625rem;
    color: rgba(151, 151, 151, 1);
    width: 45vw;
    position: relative;
    right: 2rem;
}
.final_donation{
    width: 20.875rem;
    height: 3.625rem;
    border-radius: 0.625rem;
    background-color: rgba(19, 169, 16, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    color: white;
    font-weight: bold;
}

.form_donation1 form{
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-left: 3rem;
}

form label{
  font-size: 1rem;
  font-weight: bold;
}
select{
   width: 78vw;
   height: 5vh;
   border-radius: 0.5rem;
   padding: 0.6rem;
}
 input{
  width: 78vw;
   height: 5vh;
   border-radius: 0.5rem;
   padding: 1.7rem;
   color: rgba(128, 128, 128, 1);
}

button{
  margin-top: 0.6rem;
  width: 78vw;
  height: 5vh;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
  background-color: rgba(19, 169, 16, 1);
}
}