@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Poppins&display=swap');
.screen1 {
  padding: 5vw;
   
}
.mt-2{
  margin-top: 4%;
}
.screen1 .screen1-items{
  display: flex;
  flex-direction: row-reverse;
  gap: 4vw;
  margin-top: 3vh;
}
.women-image {
  display: flex;
  justify-content: flex-end;
}
.stats {   
  width: 30vw;
  height: 30vw;
  object-fit: cover; 
}
.content{
  width: 60vw;
}
.content h1{
  font-size: 4vw;
  font-family: Poppins;
  font-weight: bold;
}
.content h2{
  font-size: 1.5vw;
  font-family: Poppins;
margin-top: 0.5vh;
}
.button_page{
  display: flex;
  gap: 5vw;
}
button {
  display: flex;
  padding: 1rem 2rem;
  border-radius: 1vw;
  background-color: rgba(19, 169, 16, 1);
  align-items: center;
  justify-content: center;
  font-size: 1.5vw;
  font-weight: bolder;
  color: white;
  font-family: Poppins;
}

.button_page h2{
  font-size: 1.3rem;
  font-family: Poppins;
  color:rgba(19, 169, 16, 1) ;
  align-items: center;
  margin-top: 1vh;
}
.button_page .arrow{
  width: 0.688rem;
  height: 1rem;
 margin-left: 0.3rem;
 margin-top: 0.3rem;
}
.label h5{
  font-size: 1.3rem;
  gap: 0.3rem;
  margin-top: 0.19rem;
  font-weight: bold;
}
@media(max-width:790px){

.content h1{
  font-size: 5vw;
}   
.content h2{
  font-size: 2.4vw;
  margin-top: 0.5vh;
}
.button_page{
  display: flex;
  gap: 5vw;
}
  button {
    font-size: 2.5vw;
    width: 22vw;
  height: 8vw;
  }
  .button_page h2{
    font-size: 3vw;
    margin-top: 1vh;
  }
    
      .button_page .arrow{
        width: 0.688rem;
        height: 1rem;
       margin-left: 0.3rem;
       margin-top: 0.3rem;
      }
      .label{
        display: flex;
        margin-top: 1rem;
      }
      .label h5{
        font-size: 0.625rem;
        gap: 0.3rem;
        margin-top: 0.19rem;
        font-weight: bold;
      }
}