@media(max-width:600px){
    .screen7{
        margin-top: 4rem;
        margin-left: 1rem;
    }
    
    .content_screen7{
        display: flex;
        justify-content: flex-end;
    }
    .screen7 .screen7-items{
        display: flex;
        flex-direction: row-reverse;
        gap: 1rem;
        margin-top: 1rem;
      }
    .poor-image{
        display: flex;
        justify-content: flex-end;
    }
     .poor{
        height: 8rem;
        margin-right: 1rem;
        border-radius: 1.438rem;
    }
    .main_content h1{
        font-size: 1.5rem;
        font-family: Poppins;
        font-weight: bold;
        width: 65vw;
      }
      .main_content h2{
        font-size: 0.625rem;
        font-family: Poppins;
  margin-top: 0.7rem;
  width: 59vw;
      }
      .screen7_button{
        display: flex;
        margin-top: 0.8rem;
      }
      .screen7_button .screen7_button1{
        display: flex;
      }
      .screen7_button h2{
        font-size: 2vw;
        font-family: Poppins;
        font-weight: bold;
        color:rgba(19, 169, 16, 1) ;
        
        align-items: center;
        margin-top: 0.4rem;
      }
      .upload{
        margin-left: 1rem;
      }
      .screen7_button .arrow{
        width: 0.688rem;
        height: 1rem;
       margin-left: 0.3rem;
       margin-top: 0.3rem;
      }
      .screen7_label{
        display: flex;
        margin-top: 1rem;
      }
      .screen7_label h1{
        font-size: 0.625rem;
        gap: 0.3rem;
        margin-top: 0.19rem;
        font-weight: bold;
      }
      .campaign{
        width: 7.125rem;
        height: 2.063rem;
        background-color: rgba(84, 201, 55, 1);
        font-size: 0.875rem;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        border-radius: 0.5rem;
      }
}