@media(max-width:600px){
    section{
      padding-left: 0.7rem;
        margin-top: 3rem;
    }
    section .screen2-items{
        display: flex;
    }
    section .screen2-items .heading h1{
        font-size: 3.6vw;
        font-family: Poppins;
        height: 2.688rem;
        width: 27vw;
        font-weight: bold;
    }
    .vertical-line {
        margin-left: 2vw;
        position: relative;
        
        border-left: 2px solid rgba(142, 137, 137, 0.69); /* Adjust the color and thickness as needed */
        height: 12vw; /* Adjust the height as needed */
      }
      section .screen2-items .sub-heading p{
        width: 39vw;
        height: 5vh;
        font-size: 2vw;
        font-family: Poppins;
        margin-left: 1vh;
      }
      .button button{
        width: 18vw;
        height: 1.625rem;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        border-radius: 0.5rem;
       margin-left: 4vw;
       margin-top: 1.6vw;
        font-size: 2vw;
        font-family: Poppins;
        position: relative;
        border: 2px solid rgba(84, 201, 55, 1);
        background-color: rgba(205, 239, 202, 0.76);
        color: rgba(32, 140, 15, 1);
      }
}