.footer{
    margin-top: 1rem;
    width: 100%;
    background-color: black;
    padding: 2.5rem;
    color: white;
    position: relative;
    overflow-x: hidden;
}
 
 .footer-items .footer_content{
     display: flex;
     gap: 3.4rem;
     justify-content: space-between;
 }
 .footer_content_heading h1,.footer_content_heading p{
        font-size: 22px;
        font-family: Poppins;
    }
    .footer_content_heading h2{
        font-size: 28px;
        color: rgba(19, 169, 16, 1);
    }
    .circle_footer{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: rgba(84, 201, 55, 1);
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .circle_footer p{
        font-size: 28px;
        font-weight: bold;
        text-align: center;
        padding: 20px;
    }
    .links_footer{
        display: flex;
        margin-top: 3rem;
        justify-content: space-between;
    }
    .links_footer .logo_footer h1{
        color: rgba(62, 173, 34, 1);
        font-size: 48px;
        font-family: Irish Grover;
        align-self: center;
    }
    .links_footer .logo_footer p{
        font-size: 18px;
        font-family: Poppins;
    }
    .main_links{
        display: flex;
        gap:2rem;
    }
    .main_links .company h1{
        font-size: 16px;
        margin-bottom: 8px;
    }
    .main_links .company  li{
        list-style: none;
        font-size: 14px;
        margin-bottom: 8px;
    }
    .copyright{
        margin-top: 2rem;
        border-top: 1px solid #414141;
        text-align: center;
    }
    .copyright p{
        font-size: 12px;
        font-family: Poppins;
        margin-top: 16px;

    }
@media(max-width:1024px){
    .links_footer .logo_footer h1{
        font-size: 32px;
    }
    .links_footer .logo_footer p{
        font-size: 16px;
    }
    .circle_footer{
        width: 100px;
        height: 100px;
        border-radius: 50%;

    }
    .circle_footer p{
        font-size: 18px;
        padding: 10px;
    }

}
@media(max-width:790px){
    .footer{
       padding: 20px;
    }
    .footer-items{
       margin-top: 1rem;
       margin-left: 1.5rem;
    }
       
    .footer-items .footer_content{
        display: flex;
        gap: 3.4rem;
    }
    .footer_content_heading h1,.footer_content_heading p{
        font-size: 1rem;
    }
    .footer_content_heading h2{
        font-size: 1rem;
    }
    .circle_footer{
        width: 3.75rem;
        height: 3.75rem;
    }
    .circle_footer p{
        font-size: 0.625rem;
    }
    .links_footer{
        display: flex;
        margin-top: 3rem;
        gap: 3rem;
    }
    .links_footer .logo_footer h1{
        color: rgba(62, 173, 34, 1);
        font-size: 1.25rem;
        font-family: Irish Grover;
        align-self: center;
    }
    .links_footer .logo_footer p{
        font-size: 0.625rem;
        font-family: Poppins;
    }
    .main_links{
        gap: 1.5rem;
    }
    .main_links .company h1{
        font-size: 0.625rem;
    }
    .main_links .company  li{
        font-size: 0.6rem;
    }
    .copyright p{
        font-size: 0.625rem;

    }
}