.screen5{
  margin-top: 4vh;
  padding: 4%;
}

.content_screen5{
  display: flex;
  justify-content: flex-end;
}
.screen5 .screen5-items{
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
  margin-top: 1rem;
}
.poor-image{
  display: flex;
  justify-content: flex-end;
}
.poor{
  height: 35vh;
  border-radius: 1.438rem;
}
.main_content_page h1{
  font-size: 5vw;
  font-family: Poppins;
  font-weight: bold;
  width: 65vw;
}
.main_content_page h2{
  font-size: 2vw;
  font-family: Poppins;
margin-top: 2vh;
width: 65vw;
}
.screen5_button{
  display: flex;
  margin-top: 0.8rem;
}
.screen5_button .screen5_button1{
  display: flex;
}
.screen5_button h2{
  font-size: 3vw;
  font-family: Poppins;
  font-weight: bold;
  color:rgba(19, 169, 16, 1) ;
  
  align-items: center;
  margin-top: 0.4rem;
}
.upload{
  margin-left: 1rem;
}
.screen5_button .arrow{
  width: 0.688rem;
  height: 1rem;
 margin-left: 0.3rem;
 margin-top: 0.3rem;
}
.screen5_label{
  display: flex;
  margin-top: 1rem;
}
.screen5_label h1{
  font-size: 2vw;
  gap: 0.3rem;
  margin-top: 0.19rem;
  font-weight: bold;
}
.campaign{
  /* width: 10vw;
  height: 2.063rem; */
  background-color: rgba(84, 201, 55, 1);
  font-size: 0.875rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 0.5rem;
}
@media(max-width:790px){
    .screen5{
        margin-top: 4vh;
        padding: 4%;
    }
    
    .content_screen5{
        display: flex;
        justify-content: flex-end;
    }
    .screen5 .screen5-items{
        display: flex;
        flex-direction: row-reverse;
        gap: 1rem;
        margin-top: 1rem;
      }
    .poor-image{
        display: flex;
        justify-content: flex-end;
    }
     .poor{
        height: 8vh;
        margin-right: 4vw;
        border-radius: 1.438rem;
    }
    .main_content_page h1{
        font-size: 5vw;
        width: 65vw;
      }
      .main_content_page h2{
        font-size: 3vw;
        font-family: Poppins;
  margin-top: 2vh;
  width: 65vw;
      }
      .screen5_button{
        display: flex;
        margin-top: 0.8rem;
      }
      .screen5_button .screen5_button1{
        display: flex;
      }
      .screen5_button h2{
        font-size: 3vw;
        margin-top: 0.4rem;
      }
      .upload{
        margin-left: 1rem;
      }
      .screen5_label h1{
        font-size: 3vw;
      }
      .campaign{
        width: 10vw;
        height: 2.063rem;
      }
}